
@{
    ViewBag.Title = "Администрирование заказов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-title_1">Администрирование заказов:</div>

<style type="text/css">
    table {
        border-spacing: 0 10px;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        width: 100%;
        font-size: 18px;
    }

    th {
        padding: 10px 10px;
        background: #AAA;
        color: black;
        border: 2px solid;
        font-size: 0.9em;
        text-align: center;
    }

        th:first-child {
            text-align: left;
        }

    tr:last-child {
        border-top: 2px black;
    }

    td {
        vertical-align: middle;
        padding: 10px;
        font-size: 16px;
        text-align: center;
        border-top: 2px solid #ddd;
        border-bottom: 2px solid #ddd;
        border-right: 2px solid #ddd;
    }

        td:first-child {
            border-left: 2px solid #ddd;
        }

        td:last-child {
            border-left: none;
        }

        td:nth-child(2) {
            text-align: left;
        }

    table a {
        font-size: 20px;
        color: black;
    }
</style>

<table>
    <tr>
        <th>№ заказа</th>
        <th>id покупателя</th>
        <th>Адрес</th>
        <th>Сумма заказа</th>
        <th>Дата заказа</th>
        <th>Способ оплаты</th>
        <th>Статус</th>
        <th>Изменить статус</th>
    </tr>
    @for (int i = 0; i < ViewBag.count; i++)
    {
        <tr>
            <td>@Html.ActionLink((string)ViewBag.order[i].on, "PageOrders", "Basket", new { number = ViewBag.order[i].or_numb, summ = @ViewBag.order[i].ssumm }, null)</td>
            <td>@ViewBag.order[i].id</td>
            <td>@ViewBag.order[i].adress</td>
            <td>@ViewBag.order[i].ssumm рублей</td>
            <td>@ViewBag.order[i].date</td>
            <td>@ViewBag.order[i].pay</td>
            <td>@ViewBag.order[i].status</td>
            <td>
                @using (Html.BeginForm("ChangeOrder", "Admin", FormMethod.Post))
                {
                    <input type="hidden" name="ordernumber" value="@ViewBag.order[i].on" />
                    <select name="status">
                        <option>Заказ забронирован. Ожидается оплата.</option>
                        <option>Заказ оплачен. Ожидается отправка.</option>
                        <option>Заказ отправлен.</option>
                        <option>Заказ завершен.</option>
                    </select>
                    <input type="submit" name="commit" value="Изменить">
                }
            </td>
        </tr>
    }
</table>